.form{
  width: 320px;
  padding: 25px 40px 30px;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;

  &__button{
    margin-top: 10px;
    width: 100%;
  }

  &__group{
    width: 100%;
 
  }
  
  .input, .link{
    width: 100%;
  }
}

