.form{
  width: 400px;
  padding: 25px 40px 30px;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  &__button{
    margin-top: 10px;
  }

  &__group{
    width: 100%;
 
  }
  
  .input, .btn, .link{
    width: 100%;
  }
}

