:root{
  --primary: #FF9292;
  --primary-light: rgb(255, 180, 180);
  --primary-dark: #FF9292;
  --primary-opacity: rgba(255, 232, 232, 0.8);
  --border-radius: 4px;
  --dark: #131313;
  --dark-light: rgba(19, 19, 19, 0.5);
}

*{
  box-sizing: border-box;
  color: var(--dark);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  width: 100%;
  height: 100vh;
}



.page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.link{
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  transition: 0.25s ease-in-out;
  &:hover{
    background-color: var(--primary-opacity);
    border: 1px solid var(--primary-dark);
  }
}

.subtitle{
  color: var(--dark-light);
  font-size: 0.8rem;
}